.heading{
    font-size:30px; 
}
.whole{
    width:500px;
    height: 600px;
    background-color: aqua;
    justify-content: center;
    align-items: center;

}
.lside{
    width: 300px;
    height: 600px;
    background-color: black;
}
.main{
    display:flex;

}