.whole{
    width:1275px;
    height:1400px;
    background-color:white;
    
}
.navbar{
    
    width:1285px;
    height:150px;
    background-color:rgb(34,120,34);
     background-image:url("background.jpg");
     background-repeat:no-repeat;
     background-size:cover;
     
}
.heading{
    align-items:center;
    text-align:center;
    padding-top:65px;
    font-size:50px;
   
    

}
.bar{
    width:1300px;
    height:40px;
    background-color:white;
    display:flex;
    gap:0;
    margin:0;
    padding:0;
}
.home{
    text-align:center;
    width:321.25px;
    height:40px;
    background-color:#6b8e23;
    color:white;
}
.search{
    margin-top:10px;
    width:1290px;
    height:40px;
    text-align:center;
    border-radius:999px;
    padding:12px 20px;
    padding-right: 20px;
}
.lens{
    display:flex;
}
.searchopt{
    width:40px;
    height:40px;
}
.hot{
    margin-top:10px;
    font-size:20px;
}
.vid{
    margin-top:10px;
    width:1300px;
    height:170px;
}
.big{
    width:1255px;
    height:230px;
    background-color:#6b8e23;
    border-radius:20px;
    padding:10px 15px;
    display:flex;
}
.first{
    width:100px;
    height:160px;
    border-radius:20px;
    padding:10px 15px;
    background-color:white;
    margin-right:50px;
}
.soap{
     width:100px;
    height:100px;
    margin-left:0;
    margin-top:0;
    border-radius:20px;
    
}
.products{
     width:100px;
    height:20px;
    text-align:center;
    font-size:20px;
   
}
.price{
     width:100px;
    height:20px;
    display:flex;
    align-items:center;
    gap:0;
    margin-top:0;
    
}
.nprice{
    font-size:15px;
    font-weight:bold;
    color:#333;
    text-align:center;
    padding-left:24px;
    padding-top:0;
    margin-right:3px;
    

}
.oprice{
    font-size:15px;
    color:#999;
    text-decoration:line-through;
}
.suggest{
     width:1300px;
    height:200px;
    background-color:#6b8e23;
    border-radius:20px;
    padding:10px 15px;
    display:flex;
    padding-top:10px;

}
.but{
    margin-top: 20px;
}
.cartbut{
    width:120px;
    height:30px;
    text-align:center;
    border-radius:999px;
    padding:12px 20px;
    background-color: white;
    padding-top: 3px;
    
    
}